.scroll-button {
    display: none; 
    position: fixed;
    bottom: 32px;
    right: 32px; 
    padding: 25px;
    background-color: #25d366;
    border: white;
    color: #ffffff;
    cursor: pointer;
    width: 10px;
    height: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    font-size: 35px;
    z-index: 20;
    cursor: pointer;

  }
  
  .scroll-button:hover {
    background-color: none;
    transform: scale(1.1); 
  }

  .show-scroll {
    display: flex;
  }

  /* @media screen and (max-width: 640px){
    .scroll-button {
        display: block
    }
  }; */
    

